.data-cont {
  background-color: aqua;
  padding: 10px;
}
.item {
  background-color: lightblue;
  margin: 5px;
  padding: 10px;
  list-style: none;
  border-radius: 5px;
}
.head {
  text-align: center;
}
